<h3>Welcome to the Online Bookshelf!</h3>
<p>
<p>In this app you can add books to your own bookshelf! </p>
<p>
It's very easy, you only need to create account by "Sign up" or login by "Sign in". Then you can select books from our big database to your own bookshelf. If you want to see selected books, click "My books".
</p>
<%= link_to 'Start using this app!', root_path, class: "btn btn-info" %>

